<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 定义事务的传播属性(就是通知) -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<!-- 传播属性 -->
    	<tx:attributes>
    		<!-- 
    			增删改需要事务：REQUIRED+read-only="false"
    			查询不需要事务：SUPPORTS+read-only="true"
    		 -->
    		<!-- 增删改：要事务 -->
    		<tx:method name="insert*" propagation="REQUIRED" read-only="false" />
    		<tx:method name="update*" propagation="REQUIRED" read-only="false" />
    		<tx:method name="delete*" propagation="REQUIRED" read-only="false" />
    		
    		<!-- 查询：不要事务 -->
    		<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
    	</tx:attributes>
    </tx:advice>
    
    <!-- 申明事务切面 -->
    <aop:config>
    	<!-- 切入点 -->
    	<aop:pointcut expression="execution(* com.turing.service..*.*(..))" id="pc"/>
    	<!-- 通知 -->
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
    </aop:config>

</beans>